In [ ]:
!pip install pandas

In [1]:
import pandas as pd

In [3]:
df = pd.read_excel('Attribute DataSet.xlsx')

In [5]:
df.head()

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,Pattern Type,Recommendation
0,1006032852,Sexy,Low,4.6,M,Summer,o-neck,sleevless,empire,NaN,chiffon,ruffles,animal,1
1,1212192089,Casual,Low,0.0,L,Summer,o-neck,Petal,natural,microfiber,NaN,ruffles,animal,0
2,1190380701,vintage,High,0.0,L,Automn,o-neck,full,natural,polyster,NaN,NaN,print,0
3,966005983,Brief,Average,4.6,L,Spring,o-neck,full,natural,silk,chiffon,embroidary,print,1
4,876339541,cute,Low,4.5,M,Summer,o-neck,butterfly,natural,chiffonfabric,chiffon,bow,dot,0

In [11]:
df.tail()

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,Pattern Type,Recommendation
495,713391965,Casual,Low,4.7,M,Spring,o-neck,full,natural,polyster,NaN,NaN,solid,1
496,722565148,Sexy,Low,4.3,free,Summer,o-neck,full,empire,cotton,NaN,NaN,NaN,0
497,532874347,Casual,Average,4.7,M,Summer,v-neck,full,empire,cotton,NaN,lace,solid,1
498,655464934,Casual,Average,4.6,L,winter,boat-neck,sleevless,empire,silk,broadcloth,applique,print,1
499,919930954,Casual,Low,4.4,free,Summer,v-neck,short,empire,cotton,Corduroy,lace,solid,0

In [13]:
df.columns

Index(['Dress_ID', 'Style', 'Price', 'Rating', 'Size', 'Season', 'NeckLine',
       'SleeveLength', 'waiseline', 'Material', 'FabricType', 'Decoration',
       'Pattern Type', 'Recommendation'],
      dtype='object')

In [15]:
df.shape

(500, 14)

In [21]:
df1 = pd.read_csv(r"all_kindle_review.csv")

In [25]:
type(df1)

pandas.core.frame.DataFrame

In [29]:
print(df1)

       Unnamed: 0.1  Unnamed: 0        asin  helpful  rating  \
0                 0       11539  B0033UV8HI  [8, 10]       3
1                 1        5957  B002HJV4DE   [1, 1]       5
2                 2        9146  B002ZG96I4   [0, 0]       3
3                 3        7038  B002QHWOEU   [1, 3]       3
4                 4        1776  B001A06VJ8   [0, 1]       4
...             ...         ...         ...      ...     ...
11995         11995        2183  B001DUGORO   [0, 0]       4
11996         11996        6272  B002JCSFSQ   [2, 2]       5
11997         11997       12483  B0035N1V7K   [0, 1]       3
11998         11998        3640  B001W1XT40   [1, 2]       1
11999         11999       11398  B003370JUS   [5, 6]       3

                                              reviewText   reviewTime  \
0      Jace Rankin may be short, but he's nothing to ...   09 2, 2010
1      Great short read.  I didn't want to put it dow...   10 8, 2013
2      I'll start by saying this is the first of four...  04 11, 2014
3      Aggie is Angela Lansbury who carries pocketboo...   07 5, 2014
4      I did not expect this type of book to be in li...  12 31, 2012
...                                                  ...          ...
11995  Valentine cupid is a vampire- Jena and Ian ano...  02 28, 2014
11996  I have read all seven books in this series. Ap...  05 16, 2011
11997  This book really just wasn't my cuppa.  The si...  07 26, 2013
11998  tried to use it to charge my kindle, it didn't...  09 17, 2013
11999  Taking Instruction is a look into the often hi...   07 5, 2012

           reviewerID                   reviewerName  \
0      A3HHXRELK8BHQG                         Ridley
1      A2RGNZ0TRF578I                   Holly Butler
2      A3S0H2HV6U1I7F                        Merissa
3       AC4OQW3GZ919J                     Cleargrace
4      A3C9V987IQHOQD                       Rjostler
...               ...                            ...
11995  A1OKS5Q1HD8WQC                  lisa jon jung
11996   AQRSPXLNEQAMA                        TerryLP
11997  A2T5QLT5VXOJAK                        hwilson
11998  A28MHD2DDY6DXB  Allison A. Slater "Gryphon50"
11999  A3JUXLB4K9ZXCC                      Dafna Yee

                                                 summary  unixReviewTime
0                               Entertaining But Average      1283385600
1                                Terrific menage scenes!      1381190400
2                                       Snapdragon Alley      1397174400
3                                 very light murder cozy      1404518400
4                                                   Book      1356912000
...                                                  ...             ...
11995                                               jena      1393545600
11996                                Peacekeepers Series      1305504000
11997                                    a little creepy      1374796800
11998                                        didn't work      1379376000
11999  If you like BDSM with a touch of romance, this...      1341446400

[12000 rows x 11 columns]

In [33]:
df1.shape

(12000, 11)

In [35]:
df1.columns

Index(['Unnamed: 0.1', 'Unnamed: 0', 'asin', 'helpful', 'rating', 'reviewText',
       'reviewTime', 'reviewerID', 'reviewerName', 'summary',
       'unixReviewTime'],
      dtype='object')

In [37]:
df1.head(2)

,Unnamed: 0.1,Unnamed: 0,asin,helpful,rating,reviewText,reviewTime,reviewerID,reviewerName,summary,unixReviewTime
0,0,11539,B0033UV8HI,"[8, 10]",3,"Jace Rankin may be short, but he's nothing to ...","09 2, 2010",A3HHXRELK8BHQG,Ridley,Entertaining But Average,1283385600
1,1,5957,B002HJV4DE,"[1, 1]",5,Great short read. I didn't want to put it dow...,"10 8, 2013",A2RGNZ0TRF578I,Holly Butler,Terrific menage scenes!,1381190400

In [39]:
df.head(10)

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,Pattern Type,Recommendation
0,1006032852,Sexy,Low,4.6,M,Summer,o-neck,sleevless,empire,NaN,chiffon,ruffles,animal,1
1,1212192089,Casual,Low,0.0,L,Summer,o-neck,Petal,natural,microfiber,NaN,ruffles,animal,0
2,1190380701,vintage,High,0.0,L,Automn,o-neck,full,natural,polyster,NaN,NaN,print,0
3,966005983,Brief,Average,4.6,L,Spring,o-neck,full,natural,silk,chiffon,embroidary,print,1
4,876339541,cute,Low,4.5,M,Summer,o-neck,butterfly,natural,chiffonfabric,chiffon,bow,dot,0
5,1068332458,bohemian,Low,0.0,M,Summer,v-neck,sleevless,empire,NaN,NaN,NaN,print,0
6,1220707172,Casual,Average,0.0,XL,Summer,o-neck,full,NaN,cotton,NaN,NaN,solid,0
7,1219677488,Novelty,Average,0.0,free,Automn,o-neck,short,natural,polyster,broadcloth,lace,NaN,0
8,1113094204,Flare,Average,0.0,free,Spring,v-neck,short,empire,cotton,broadcloth,beading,solid,1
9,985292672,bohemian,Low,0.0,free,Summer,v-neck,sleevless,natural,nylon,chiffon,NaN,NaN,1

In [15]:
df.tail()

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,Pattern Type,Recommendation
495,713391965,Casual,Low,4.7,M,Spring,o-neck,full,natural,polyster,NaN,NaN,solid,1
496,722565148,Sexy,Low,4.3,free,Summer,o-neck,full,empire,cotton,NaN,NaN,NaN,0
497,532874347,Casual,Average,4.7,M,Summer,v-neck,full,empire,cotton,NaN,lace,solid,1
498,655464934,Casual,Average,4.6,L,winter,boat-neck,sleevless,empire,silk,broadcloth,applique,print,1
499,919930954,Casual,Low,4.4,free,Summer,v-neck,short,empire,cotton,Corduroy,lace,solid,0

In [17]:
pd.read_csv('haberman.csv', names=['Age' , " Patient's year of operation ", 'Number of positive' , 'Survival status'])

     Age   Patient's year of operation   Number of positive  Survival status
0     30                             64                   1                1
1     30                             62                   3                1
2     30                             65                   0                1
3     31                             59                   2                1
4     31                             65                   4                1
..   ...                            ...                 ...              ...
301   75                             62                   1                1
302   76                             67                   0                1
303   77                             65                   3                1
304   78                             65                   1                2
305   83                             58                   2                2

[306 rows x 4 columns]

In [19]:
pd.read_csv('haberman.csv', header=None,names=['Age' , " Patient's year of operation ", 'Number of positive' , 'Survival status'])

     Age   Patient's year of operation   Number of positive  Survival status
0     30                             64                   1                1
1     30                             62                   3                1
2     30                             65                   0                1
3     31                             59                   2                1
4     31                             65                   4                1
..   ...                            ...                 ...              ...
301   75                             62                   1                1
302   76                             67                   0                1
303   77                             65                   3                1
304   78                             65                   1                2
305   83                             58                   2                2

[306 rows x 4 columns]

In [41]:
pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Smarket.csv')

      Year   Lag1   Lag2   Lag3   Lag4   Lag5   Volume  Today Direction
0     2001  0.381 -0.192 -2.624 -1.055  5.010  1.19130  0.959        Up
1     2001  0.959  0.381 -0.192 -2.624 -1.055  1.29650  1.032        Up
2     2001  1.032  0.959  0.381 -0.192 -2.624  1.41120 -0.623      Down
3     2001 -0.623  1.032  0.959  0.381 -0.192  1.27600  0.614        Up
4     2001  0.614 -0.623  1.032  0.959  0.381  1.20570  0.213        Up
...    ...    ...    ...    ...    ...    ...      ...    ...       ...
1245  2005  0.422  0.252 -0.024 -0.584 -0.285  1.88850  0.043        Up
1246  2005  0.043  0.422  0.252 -0.024 -0.584  1.28581 -0.955      Down
1247  2005 -0.955  0.043  0.422  0.252 -0.024  1.54047  0.130        Up
1248  2005  0.130 -0.955  0.043  0.422  0.252  1.42236 -0.298      Down
1249  2005 -0.298  0.130 -0.955  0.043  0.422  1.38254 -0.489      Down

[1250 rows x 9 columns]

In [45]:
pd.read_csv(r"‪C:\Users\Dell\Downloads\all_kindle_review.csv")

OSError: [Errno 22] Invalid argument: '\u202aC:\\Users\\Dell\\Downloads\\all_kindle_review.csv'

In [47]:
pd.read_csv("https://raw.githubusercontent.com/selva86/datasets/master/BCF.csv")

           date  values.I2P  values.P2I  values.JPI
0    1996-04-01   -2.580556   -0.836444        63.3
1    1996-05-01   -2.882258   -1.972581        66.3
2    1996-06-01   -1.742778   -0.478778        59.7
3    1996-07-01   -0.397796   -1.574301        63.3
4    1996-08-01   -0.977151   -1.797312        63.8
..          ...         ...         ...         ...
112  2005-08-01   -2.144935   -1.646989        49.0
113  2005-09-01   -3.543270   -1.769889        49.9
114  2005-10-01   -4.500484   -2.309946        50.6
115  2005-11-01   -4.098556   -1.528611        57.4
116  2005-12-01   -5.797043   -2.872849        52.9

[117 rows x 4 columns]

In [49]:
a = pd.read_html('https://www.basketball-reference.com/leagues/NBA_2015_totals.html')

In [51]:
type(a)

list

In [53]:
len(a)

2

In [57]:
df2 = a[0]

In [59]:
df2.head(2)

,Rk,Player,Age,Team,Pos,G,GS,MP,FG,FGA,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Trp-Dbl,Awards
0,1.0,James Harden,25.0,HOU,SG,81.0,81.0,2981.0,647.0,1470.0,...,384.0,459.0,565.0,154.0,60.0,321.0,208.0,2217.0,4.0,"MVP-2,AS,NBA1"
1,2.0,Stephen Curry,26.0,GSW,PG,80.0,80.0,2613.0,653.0,1341.0,...,285.0,341.0,619.0,163.0,16.0,249.0,158.0,1900.0,0.0,"MVP-1,AS,NBA1"

In [61]:
df2.columns

Index(['Rk', 'Player', 'Age', 'Team', 'Pos', 'G', 'GS', 'MP', 'FG', 'FGA',
       'FG%', '3P', '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA',
       'FT%', 'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS',
       'Trp-Dbl', 'Awards'],
      dtype='object')

In [65]:
df2.shape

(652, 32)

In [67]:
df2.tail(2)

,Rk,Player,Age,Team,Pos,G,GS,MP,FG,FGA,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Trp-Dbl,Awards
650,651.0,David Wear,24.0,SAC,PF,2.0,0.0,7.0,0.0,2.0,...,0.0,2.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,NaN
651,NaN,League Average,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [71]:
js = pd.read_json('https://api.github.com/repos/pandas-dev/pandas/issues')

In [72]:
js.columns

Index(['url', 'repository_url', 'labels_url', 'comments_url', 'events_url',
       'html_url', 'id', 'node_id', 'number', 'title', 'user', 'labels',
       'state', 'locked', 'assignee', 'assignees', 'milestone', 'comments',
       'created_at', 'updated_at', 'closed_at', 'author_association',
       'sub_issues_summary', 'active_lock_reason', 'draft', 'pull_request',
       'body', 'closed_by', 'reactions', 'timeline_url',
       'performed_via_github_app', 'state_reason'],
      dtype='object')

In [75]:
js['url'][0]

'https://api.github.com/repos/pandas-dev/pandas/issues/60976'

In [77]:
js['user'][0]

{'login': 'star1327p',
 'id': 5897944,
 'node_id': 'MDQ6VXNlcjU4OTc5NDQ=',
 'avatar_url': 'https://avatars.githubusercontent.com/u/5897944?v=4',
 'gravatar_id': '',
 'url': 'https://api.github.com/users/star1327p',
 'html_url': 'https://github.com/star1327p',
 'followers_url': 'https://api.github.com/users/star1327p/followers',
 'following_url': 'https://api.github.com/users/star1327p/following{/other_user}',
 'gists_url': 'https://api.github.com/users/star1327p/gists{/gist_id}',
 'starred_url': 'https://api.github.com/users/star1327p/starred{/owner}{/repo}',
 'subscriptions_url': 'https://api.github.com/users/star1327p/subscriptions',
 'organizations_url': 'https://api.github.com/users/star1327p/orgs',
 'repos_url': 'https://api.github.com/users/star1327p/repos',
 'events_url': 'https://api.github.com/users/star1327p/events{/privacy}',
 'received_events_url': 'https://api.github.com/users/star1327p/received_events',
 'type': 'User',
 'user_view_type': 'public',
 'site_admin': False}

In [79]:
df = pd.read_excel(r'Attribute DataSet.xlsx')

In [81]:
df.head()

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,Pattern Type,Recommendation
0,1006032852,Sexy,Low,4.6,M,Summer,o-neck,sleevless,empire,NaN,chiffon,ruffles,animal,1
1,1212192089,Casual,Low,0.0,L,Summer,o-neck,Petal,natural,microfiber,NaN,ruffles,animal,0
2,1190380701,vintage,High,0.0,L,Automn,o-neck,full,natural,polyster,NaN,NaN,print,0
3,966005983,Brief,Average,4.6,L,Spring,o-neck,full,natural,silk,chiffon,embroidary,print,1
4,876339541,cute,Low,4.5,M,Summer,o-neck,butterfly,natural,chiffonfabric,chiffon,bow,dot,0

In [83]:
df.to_json('new_attributs.json')

In [85]:
df.to_csv("new_attributes.csv")

In [17]:
pwd

'C:\\Users\\ADMIN'

In [23]:
df

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,Pattern Type,Recommendation
0,1006032852,Sexy,Low,4.6,M,Summer,o-neck,sleevless,empire,NaN,chiffon,ruffles,animal,1
1,1212192089,Casual,Low,0.0,L,Summer,o-neck,Petal,natural,microfiber,NaN,ruffles,animal,0
2,1190380701,vintage,High,0.0,L,Automn,o-neck,full,natural,polyster,NaN,NaN,print,0
3,966005983,Brief,Average,4.6,L,Spring,o-neck,full,natural,silk,chiffon,embroidary,print,1
4,876339541,cute,Low,4.5,M,Summer,o-neck,butterfly,natural,chiffonfabric,chiffon,bow,dot,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,713391965,Casual,Low,4.7,M,Spring,o-neck,full,natural,polyster,NaN,NaN,solid,1
496,722565148,Sexy,Low,4.3,free,Summer,o-neck,full,empire,cotton,NaN,NaN,NaN,0
497,532874347,Casual,Average,4.7,M,Summer,v-neck,full,empire,cotton,NaN,lace,solid,1
498,655464934,Casual,Average,4.6,L,winter,boat-neck,sleevless,empire,silk,broadcloth,applique,print,1
499,919930954,Casual,Low,4.4,free,Summer,v-neck,short,empire,cotton,Corduroy,lace,solid,0

In [21]:
df.to_csv("test1234.csv" ,index= False)